p{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

hr{
    border-color: rgb(0, 0, 0);
    border-width: 3px;
    max-width: 65px;
    margin: auto;
}

.layout{
    background: url(../../assets/img/banner.jpg);    
    height: 100vh;
}

.btn-xl{
    border-radius: 5px;
    
}